@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1B3330;
    color: white;
}

header {
    font-weight: 600;
    font-size: 60pt;
    display:block;
    line-height: 1em;
    margin-bottom: 40px;
}

a:link {
    color: #92d2a0;
    text-decoration: none;

}
a:visited { color:#92d2a0;
}
a:hover {color:aquamarine;
}
a:active{color: #92d2a0;
}

#container {
    width: 960px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
}

#col_left {
    margin-right: 20px;
    margin-top:40px;
}

#col_right {
    background-size:90%, 90%;
    background-repeat: no-repeat;
    background-image: url("assets/valentina.png");
    background-position: 35px 15px, bottom right;
    min-width: 50%;
    min-height: 600px;

}


#bio {
    display: block;
    font-size: 14pt;
}

#social_bar {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#social_bar img {
    max-height: 30px;
}

#social_bar img:hover {
    filter: brightness(0) saturate(100%) invert(91%) sepia(7%) saturate(2142%) hue-rotate(72deg) brightness(92%) contrast(80%);
}

#badge_geek {
    z-index: 999;
    display: block;
    background: url('assets/badge_geek.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 206px;
    height: 96px;
    margin-top: 30%;
    margin-left: -8%;
}

#badge_coder {
    z-index: 500;
    display: block;
    background: url('assets/badge_coder.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 206px;
    height: 96px;
    margin-top: 50%;
    margin-left: 80%;
}
